p{
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}
button{
    cursor: pointer;
}
div{
    cursor: pointer;
}
body{
    margin: 0;
    margin-bottom: 3000px;
    padding-top: 80px;
    padding-left: 72px;
}