
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px soli black;
    position: fixed;
    background-color: white;
    margin-bottom: 80px;
    right: 0;
    left: 0;
    top: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(221, 213, 213);
    z-index: 100;
}


.left-section{
    display: flex;
    align-items: center;
    
    height: 60px;
    border: 1px soli black;
    
}

.hamburger-menu{
    height: 24px;
    width: 24px;
    margin-left: 30px;
    margin-right: 25px;
}
.youtube-logo{
    height: 20px;
    width: 90px;
}
.middle-section{
    display: flex;
    flex: 1;
    border: 1px soli black;
    justify-content: center;
    align-items: center;
    height: 60px;
    max-width: 500px;
}
.search-bar-container{
    display: flex;
    flex: 1;
    margin-left: 60px;
}

.search-bar{
    width: 100%;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(199, 196, 196);
    font-size: 16px;
    outline: none;
    
}
.search-bar::placeholder{
    font-family: roboto, arial;
    color: rgb(124, 120, 120); 
    font-size: 16px;
    padding-left: 13px;
}
.search-bar:focus{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(43, 43, 243);
}
.search-icon-button{
    height: 39px;
    width: 64px;
    border-style: solid;
    border-left: none;
    border-width: 1px;
    border-color: rgb(199, 196, 196);
    

}
.search-image{
    height: 24px;
    width: 24px;
    margin-top: 4px;
}

.voice-search-icon-button{
    height: 38px;
    width: 38px;
    border-radius: 20px;
    border: none;
    margin-left: 15px;
    
}
.right-section{
  height: 60px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  margin-right: 25px;
  flex-shrink: 0;
  position: relative;
 
}
.upload,
.youtube-apps,
.notifications,
.my-channel{
    height: 24px;
    width: 24px;
}
.notifications{
    margin-top: 2px;
}
.notifications-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -1px;
    right: -3px;
    color: white;
    background-color: rgb(187, 7, 7);
    height: 16px;
    width: 16px;
    border-radius: 8px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    
}
.my-channel{
    height: 31px;
    width: 31px;
    border-radius: 16px;
}
.search-icon-container{
position: relative;
}
.tool-tip-search{
    position: absolute;
    bottom: -48px;
    background-color: rgba(128, 128, 128, 1);
    font-family: roboto, arial;
    height: 33px;
    width: 55px;
    line-height: 33px;
    color: white;
    border-radius: 2px;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    
}
.search-icon-container:hover .tool-tip-search,
.search-icon-container:hover .tool-tip-voice,
.search-icon-container:hover .create-tooltip,
.search-icon-container:hover  .apps-tooltip,
.notifications-container:hover .tooltip-notifications
{
    opacity: 1;
}


.tool-tip-voice{
    position: absolute;
    bottom: -50px;
    left: -40px;
    background-color: rgba(128, 128, 128, 1);
    font-family: roboto, arial;
    height: 33px;
    width: 150px;
    line-height: 33px;
    color: white;
    border-radius: 2px;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    
}
.tool-tip-create{
    position: absolute;
    bottom: -35px;
    background-color: rgba(128, 128, 128, 1);
    font-family: roboto, arial;
    height: 33px;
    width: 55px;
    line-height: 33px;
    color: white;
    border-radius: 2px;
    font-size: 13px;
    opacity: 0;
}
.tool-tip-apps{
    position: absolute;
    bottom: -35px;
    background-color: rgba(128, 128, 128, 1);
    font-family: roboto, arial;
    height: 33px;
    width: 150px;
    line-height: 33px;
    color: white;
    border-radius: 2px;
    font-size: 13px;
    opacity: 0;
}

.create-tooltip{
    position: absolute;
    bottom: -46px;
    left: -15px;
    background-color: rgba(128, 128, 128, 1);
    font-family: roboto, arial;
    height: 30px;
    width: 55px;
    line-height: 0px;
    color: white;
    border-radius: 2px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
}
.apps-tooltip{
    position: absolute;
    bottom: -50px;
    left: -35px;
    background-color: rgba(128, 128, 128, 1);
    font-family: roboto, arial;
    height: 35px;
    width: 100px;
    color: white;
    border-radius: 2px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
}
.tooltip-notifications{
    position: absolute;
    bottom: -50px;
    left: -37px;
    background-color: rgba(128, 128, 128, 1);
    font-family: roboto, arial;
    height: 35px;
    width: 100px;
    color: white;
    border-radius: 2px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
}
