.sidebar{
    position: fixed;
    left: 0;
    top: 64px;
    background-color: white;
    border: 1px soli black;
    width: 72px;
    z-index: 100;
    
}

.sidebar-container{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-container img{
    height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.sidebar-container div{
   font-family: roboto, arial;
   font-size: 10px;
}