.flexbox-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 45px;
}

   @media(max-width: 809px){
    .flexbox-main-container{
        grid-template-columns: 1fr 1fr;
    }
   }

   @media(max-width: 553px){
    .flexbox-main-container{
        grid-template-columns: 1fr;
    }
   }

   @media(min-width: 1350px){
    .flexbox-main-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   }



.thumbnail{
    width: 100%;
}
.channel-profile{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.channnelprofile-grid-container{
    display: flex;
    column-gap: 10px;
    margin-top: 7px;
}
.title{
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
}
.author{
    font-size: 13px;
    color: rgb(80, 76, 76);
    margin-bottom: 4px;
}
.stats{
    font-size: 13px;
    color: rgb(80, 76, 76);
}
.thumbnail-div{
position: relative;
}
.time-stamp{
    position: absolute;
    right: 3px;
    bottom: 10px;
    color: white;
    background-color: black;
    font-family: roboto, arial;
    font-size: 12px;
    padding: 2px 4px 2px 4px;
}
